{% extends "home.html" %}

{% block content %}


<div class = maincontainer>
  <div class="album py-5 bg-light">
    <div class="container">
  <div class="row">
    {% for food in foods.all %}
          <div class="col-md-4">
            <a href="{% url 'detail' food.id %}"></a>
            <div class="card mb-4 shadow-sm">
              <img class="card-img-top" src="{{ food.image.url }}" height=600>
              <div class="card-body">
                <p class="card-text">{{ food.summary }}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>
          {% endfor %}
          {% endblock %}


    <main role="main">

      <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2019 Company, Inc. &middot; </p>
  </footer>
